# Lists

 A List is a data structure in Python that is mutable, or changeble, ordered sequence of elements. Each element or value inside a list is called an item.
 
 Syntax :
   my_list = [1,2,3,1,4,5,3,Siddharth,58.258]

In [1]:
# [] represents lists

type([])

list

In [5]:
# Empty Lists

my_list1 = []
print(len(my_list1))
print("\n")

#Non Empty List

my_list2 = [1,2,5,7,8,9,"Siddharth","Singh"]
print("List looks like : \n{}\n".format(my_list2))
print("No. of items inside list is : {}".format(len(my_list2)))
type(my_list2)

0


List looks like :
[1, 2, 5, 7, 8, 9, 'Siddharth', 'Singh']

No. of items inside list is : 8

list

# Append

In [6]:

my_list2.append("Baghel")
print(my_list2)
print("\n")
print(my_list2[len(my_list2)-1])

[1, 2, 5, 7, 8, 9, 'Siddharth', 'Singh', 'Baghel']


Baghel

In [12]:
# Indexing in Lists

print(my_list2[2])

print(my_list2[:])

#Range in indexing 

print(my_list2[0:])
print(my_list2[1:])
print(my_list2[2:6])

5
[1, 2, 5, 7, 8, 9, 'Siddharth', 'Singh', 'Baghel']
[1, 2, 5, 7, 8, 9, 'Siddharth', 'Singh', 'Baghel']
[2, 5, 7, 8, 9, 'Siddharth', 'Singh', 'Baghel']
[5, 7, 8, 9]

# Append Nested Lists

In [13]:
my_list2.append(["SDE","at","Amazon",2026])

In [14]:
print(my_list2)

[1, 2, 5, 7, 8, 9, 'Siddharth', 'Singh', 'Baghel', ['SDE', 'at', 'Amazon', 2026]]

## Extend

In [21]:
newList = ["Siddharth","Singh","Baghel"]

In [22]:
print(newList)

['Siddharth', 'Singh', 'Baghel']

In [24]:
newList.extend(["SDE","at","Amazon",2023])
print(newList)

['Siddharth', 'Singh', 'Baghel', 8, 9, 'SDE', 'at', 'Amazon', 2023]

In [25]:
newList.remove(8)

In [26]:
newList.remove(9)

In [27]:
print(newList)

['Siddharth', 'Singh', 'Baghel', 'SDE', 'at', 'Amazon', 2023]

In [44]:
lst = [23,2,3,44,5,8,5,8,9]
print(lst)
print(min(lst))
print(max(lst))
print(len(lst))
print(lst.index(44))
print(lst.index(8))
print(lst.index(8,6,9))

[23, 2, 3, 44, 5, 8, 5, 8, 9]
2
44
9
3
5
7

In [57]:
lst = lst*8
print(lst)

[23, 2, 3, 44, 5, 8, 5, 8, 9, 23, 2, 3, 44, 5, 8, 5, 8, 9, 23, 2, 3, 44, 5, 8, 5, 8, 9, 23, 2, 3, 44, 5, 8, 5, 8, 9, 23, 2, 3, 44, 5, 8, 5, 8, 9, 23, 2, 3, 44, 5, 8, 5, 8, 9, 23, 2, 3, 44, 5, 8, 5, 8, 9, 23, 2, 3, 44, 5, 8, 5, 8, 9]

In [58]:
print(len(lst))

72