# Sets, Dictionaries and Tuples

## A set is an unordered collection  data type that is iterable, mutable, and has no  duplicate elements. Python set class represents the mathematical notion of a set. This is based on data structures known as hash tables.

In [3]:
## Sets does not support indexing

In [9]:
set_var = set() 
type(set_var)

set

In [7]:
print(len(set_var))
print(set_var)
type(set_var)

0
set()

set

In [8]:
mySet = {1,2,3,2,5,4,5,7,5}
print(mySet)

{1, 2, 3, 4, 5, 7}

In [9]:
len(mySet)

6

In [10]:
mySet.add("Hulk")

In [11]:
print(mySet)

{1, 2, 3, 4, 5, 7, 'Hulk'}

In [4]:
set1 = {1,6,5,7,8}
set2 = {5,7,8,9,10}

print(set2.intersection(set1))

{8, 5, 7}

In [5]:
print(set2)

{5, 7, 8, 9, 10}

# Dictionaries
It is a Key-value pair type data structure.

Syntax : dic = {1:"You",2:"Me"}

In [11]:
dic={}
type(dic)

dict

In [16]:
my_dic = {"car1":"Audi Q6","car2":"Mclaren Gwez","car3":"Lamborghini Gallardo"}
print(my_dic)
len(my_dic)

{'car1': 'Audi Q6', 'car2': 'Mclaren Gwez', 'car3': 'Lamborghini Gallardo'}

3

In [20]:
print(my_dic["car3"])
print(my_dic["car1"])

Lamborghini Gallardo
Audi Q6

In [32]:
for x in my_dic.values():
    {
        print(x)
    }

Audi Q6
Mclaren Gwez
Lamborghini Gallardo

In [37]:
for x in my_dic.items():
    {
        print(x)
    }

('car1', 'Audi Q6')
('car2', 'Mclaren Gwez')
('car3', 'Lamborghini Gallardo')
('Bike1', 'KTM')

In [36]:
## adding new element in the dictionary

my_dic["Bike1"] = "KTM"

# TUPLES

## Tuples are immutable. That is they are fixed non changeble values.

In [1]:
## Syntax :
## my_tuple = (1,2,3)

In [9]:
print(type(()))

<class 'tuple'>

In [16]:
my_tuple = (1,2,3,4,5,6,3,5,6,3,1)

In [17]:
print(my_tuple)

(1, 2, 3, 4, 5, 6, 3, 5, 6, 3, 1)

In [18]:
x = my_tuple[1] + my_tuple[4]
print(x)

7

In [19]:
len(my_tuple)

11

In [29]:
my_tuple[3] = 9 ##it will be an error because tuples are immutable data strutures.

TypeError: 'tuple' object does not support item assignment

In [32]:

print("the no. of times 3 occur is %d and index of 2 is %d." % (my_tuple.count(3), my_tuple.index(2)))
print("the no. of times 3 occur is {} and index of 2 is {}.".format(my_tuple.count(3), my_tuple.index(2)))

the no. of times 3 occur is 3 and index of 2 is 1.
the no. of times 3 occur is 3 and index of 2 is 1.